:root {
    --base-color: #3498db;
    --button-color: #2d88c4;
    --option-color: #2a85c1;
    --option-hover-color: #2a79ad;
}

.drop-base {
    background: var(--base-color);
    font-family: Barlow, serif;
    position: relative;
    color: black;
    display: flex;
    flex-direction: row;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.drop-value {
    flex-grow: 1;
    overflow: hidden;
    box-sizing: border-box;
}

.drop-button {
    background: var(--button-color);
    aspect-ratio: 1.0;
    height: 100%;
    cursor: pointer;
    text-align: center;
}

.drop-options {
    cursor: pointer;
    display: none;
    position: absolute;
    left: 0;
}

.drop-option {
    width: 100%;
    background: var(--option-color);
    overflow: hidden;
    z-index: 1;
}

.drop-option:hover {
    background: var(--option-hover-color);
}