<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <title>Car Experiment - 404</title>
    </head>

    <body>
        <div id="page-container">
            <div id="content-wrap">
                <%- include('../partials/header'); %>
                <div class="container-fluid px-4 pt-2">
                    <h1 align="center">ERROR 404:</h1>
                    <h2 align="center">Page Not Found</h2>
                </div>
            </div>
        </div>
    </body>
</html>