<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <title>Car Experiment - About</title>
    </head>

    <body>
        <div id="page-container">
            <div id="content-wrap">
                <%- include('../partials/header'); %>
                <div class="container-fluid px-4 pt-2">
                    <h1>About</h1>
                    <div class="about text-justify">
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>consetetur sadipscing elitr</p>
                        <p>sed diam nonumy eirmod tempor invidunt</p>
                        <p><small>Copyright @ Lorem Ipsum 2022</small></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>