<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <title>Car Experiment - Code</title>
    </head>

    <body>
    <div id="page-container">
        <div id="content-wrap">
            <%- include('../partials/header'); %>
            <div class="container-fluid px-4 pt-2">
                <h1>Code Description</h1>
                <div class="about text-justify">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
                <h5>Link to the code:</h5>
                    <p>
                        <a href="/code">code.git</a>
                    </p>
            </div>
        </div>
    </div>
    </body>
</html>
