<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
        <title>Car Experiment - Home</title>
    </head>

    <body>
        <div id="page-container">
            <div id="content-wrap">
                <%- include('../partials/header'); %>
                <div class="container-fluid px-4 pt-2">
                    <h1>Website Title - Welcome</h1>
                    <div class="d-sm-flex flex-md-row">
                        <div class="w-100">
                            <video width="100%" controls>
                                <source src="/source/videos/car-experiment-simulation.mp4" type="video/mp4">
                                <source src="/source/videos/car-experiment-simulation.webm" type="video/webm">
                                <source src="/source/videos/car-experiment-simulation.ogx" type="video/ogg">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <div class="px-2"></div>
                        <div class="flex-shrink-1">
                            <h2>Instructions</h2>
                            <ul>
                                <li>Set position of Car </li>
                                <li>Set position of Person </li>
                                <li>Set mode of Car </li>
                                <li>Define positon and size of Block </li>
                                <li>Choose number of steps </li>
                                <li>Press "go!" </li>
                            </ul>
                        </div>
                    </div>

                    <div class="about text-justify">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
